<main class="is-flex is-justify-content-center is-align-items-center is-fullwidth is-flex-direction-column" style="height: 100vh">
	<span class="has-text-danger has-text-centered mb-3">
		You are logged in but you don't have permission to do this.<br>
		You have to logout and use a secret code with a higher priviledge.
	</span>
	
	<a class="button is-danger" asp-controller="Auth" asp-action="Logout">Logout</a>
</main>